.modalStatus {
  position: absolute;
  display: none;
  z-index: 1000; /* 페이지에서 가장 높은 우선순위로 설정 */
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  pointer-events: auto; /* 모달 안에서만 상호작용 가능 */
}

.status_body {
  position: absolute;
  top: 50%;
  width: 600px;
  height: 500px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 3px rgba(34, 36, 38, 0.15);
  transform: translateY(-50%);
}

.status_body h1 {
  margin: 4px 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.status_body a {
  cursor: pointer;
}

#userCategory {
  width: 100%;
  padding: 10px;
  font-size: 0.8em;
  margin-top: 386px;
}

.changeStatusBtn {
  position: absolute;
  width: 50%;
  padding: 14px;
  background: #A86202;
  color: white;
  border: 1px solid #A86202;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 2px 0 #eee;
  bottom: 4%;
  left: 50%;
  transform: translateX(-50%);
}

.changeStatusBtn:hover {
  background: #814c01;
}