/* 기본 스타일 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0; 
}

.container {
    width: 500px;
  height: 90%;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
}

/* 헤더 */
header {
    height: 60px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd;
}

header .back-button i {
    font-size: 22px;
    color: #333;
    cursor: pointer;
}

header .title {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
}

header .exit-button {
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 15px;
    color: #333;
    cursor: pointer;
}

header .exit-button:hover {
    font-size: 14px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px 15px;
    color: #333;
    cursor: pointer;
}

/* 채팅방 정보 */
.chat-info {
    height: 100px;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
}

.chat-info .chat-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat-info .chat-title {
    font-size: 16px;
    color: #333;
}

.chat-info .chat-price {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

/* 채팅 메시지 */
.chat-room {
    flex-grow: 1;
    overflow-y: auto;
    padding: 20px;
    background-color: #f5f5f5;
}

.message {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.bubble {
    max-width: 60%;
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 14px;
    color: #fff;
    word-wrap: break-word;
}

.message.sent {
    justify-content: flex-end;
}

.message.sent .bubble {
    background-color: #A86202;
    margin-left: 10px;
}

.message.received {
    justify-content: flex-start;
}

.message.received .bubble {
    background-color: #333;
    margin-right: 10px;
}

.timestamp {
    font-size: 12px;
    color: #888;
    align-self: flex-end;
    margin-left: 5px;
    margin-right: 5px;
}

/* 입력 영역 */
.chat-input {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
}

.chat-input label {
    margin-right: 5px;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.chat-input button {
    padding: 10px 20px;
    background-color: #A86202;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #8c5c2e;
    ;
}